<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/Blank_SQL_Notebook.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Blank SQL Notebook

#### Import Libraries & Database

In [1]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

In [2]:
%%sql

WITH percentiles AS (
  SELECT
    PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY (s.quantity*s.netprice*s.exchangerate)) AS revenue_25th_percentile,
    PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY (s.quantity*s.netprice*s.exchangerate)) AS revenue_75th_percentile
  FROM
    sales s
  WHERE
    orderdate BETWEEN '2022-01-01' AND '2023-12-31'
)
SELECT
  p.categoryname AS category,
  CASE
    WHEN (s.quantity * s.netprice * s.exchangerate)<=pctl.revenue_25th_percentile THEN '3-LOW'
    WHEN (s.quantity * s.netprice * s.exchangerate)>=pctl.revenue_75th_percentile  THEN '1-HIGH'
    ELSE '2-MEDIUM'
  END AS revenue_tier,
  SUM(s.quantity * s.netprice * s.exchangerate) AS total_revenue
FROM
  sales s
  LEFT JOIN product p ON s.productkey = p.productkey,
  percentiles pctl
GROUP BY
  p.categoryname,
  revenue_tier
ORDER BY
  p.categoryname,
  revenue_tier

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

24 rows affected.

                         category revenue_tier  total_revenue
0                           Audio       1-HIGH     1213265.71
1                           Audio     2-MEDIUM     3832415.38
2                           Audio        3-LOW      267217.01
3         Cameras and camcorders        1-HIGH    15050781.63
4         Cameras and camcorders      2-MEDIUM     3388546.10
5         Cameras and camcorders         3-LOW       81032.92
6                     Cell phones       1-HIGH    21874993.15
7                     Cell phones     2-MEDIUM    10338963.22
8                     Cell phones        3-LOW      410309.35
9                       Computers       1-HIGH    79607760.89
10                      Computers     2-MEDIUM    10808054.11
11                      Computers        3-LOW      203207.06
12                 Games and Toys       1-HIGH      133749.09
13                 Games and Toys     2-MEDIUM     1001381.91
14                 Games and Toys        3-LOW      533443.13
15                Home Appliances       1-HIGH    22383475.30
16                Home Appliances     2-MEDIUM     4118724.64
17                Home Appliances        3-LOW      105045.60
18  Music, Movies and Audio Books       1-HIGH     3844996.29
19  Music, Movies and Audio Books     2-MEDIUM     6100817.99
20  Music, Movies and Audio Books        3-LOW      642496.71
21                   TV and Video       1-HIGH    16632856.33
22                   TV and Video     2-MEDIUM     3766783.30
23                   TV and Video        3-LOW       67221.76

In [3]:
%%sql
SELECT
  DATE_TRUNC('month',orderdate)::date AS order_month,
  SUM(quantity * netprice * exchangerate) AS net_revenue,
  COUNT(DISTINCT customerkey) AS total_unique_customers
FROM sales
GROUP BY
  order_month

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

112 rows affected.

    order_month  net_revenue  total_unique_customers
0    2015-01-01    384092.66                     200
1    2015-02-01    706374.12                     291
2    2015-03-01    332961.59                     139
3    2015-04-01    160767.00                      78
4    2015-05-01    548632.63                     236
..          ...          ...                     ...
107  2023-12-01   2928550.93                    1484
108  2024-01-01   2677498.55                    1340
109  2024-02-01   3542322.55                    1718
110  2024-03-01   1692854.89                     877
111  2024-04-01    483851.39                     246

[112 rows x 3 columns]

In [4]:
%%sql
SELECT
orderdate,
TO_CHAR(orderdate,'YYYY-MM')
FROM sales
ORDER BY RANDOM()
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

    orderdate  to_char
0  2023-03-31  2023-03
1  2022-10-04  2022-10
2  2023-07-04  2023-07
3  2022-01-22  2022-01
4  2019-07-11  2019-07
5  2023-05-20  2023-05
6  2023-01-31  2023-01
7  2023-10-21  2023-10
8  2018-01-18  2018-01
9  2023-05-17  2023-05

Date and Time Filtering

**DATE_PART**

In [5]:
%%sql
SELECT
orderdate,
DATE_PART('year',orderdate)AS order_year,
DATE_PART('month',orderdate)AS order_month,
DATE_PART('day',orderdate)AS order_day
FROM sales
ORDER BY RANDOM()
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

    orderdate  order_year  order_month  order_day
0  2023-05-12     2023.00         5.00      12.00
1  2018-07-26     2018.00         7.00      26.00
2  2022-03-26     2022.00         3.00      26.00
3  2023-10-17     2023.00        10.00      17.00
4  2023-06-26     2023.00         6.00      26.00
5  2022-03-15     2022.00         3.00      15.00
6  2022-12-03     2022.00        12.00       3.00
7  2019-07-13     2019.00         7.00      13.00
8  2018-07-20     2018.00         7.00      20.00
9  2022-05-10     2022.00         5.00      10.00

**EXTRACT**

In [6]:
%%sql
SELECT
orderdate,
EXTRACT(YEAR FROM orderdate)AS order_year,
EXTRACT(MONTH FROM orderdate)AS order_month,
EXTRACT(DAY FROM orderdate)AS order_day
FROM sales
ORDER BY RANDOM()
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

    orderdate order_year order_month order_day
0  2023-08-16       2023           8        16
1  2018-02-17       2018           2        17
2  2016-02-24       2016           2        24
3  2023-12-25       2023          12        25
4  2021-01-21       2021           1        21
5  2020-02-27       2020           2        27
6  2015-11-09       2015          11         9
7  2023-12-30       2023          12        30
8  2021-12-24       2021          12        24
9  2021-09-28       2021           9        28

In [7]:
%%sql
SELECT
  EXTRACT(YEAR FROM orderdate) AS order_year,
  EXTRACT(MONTH FROM orderdate) AS order_month,
  SUM(quantity * netprice * exchangerate) AS net_revenue

FROM sales
GROUP BY
  order_year,
  order_month
ORDER BY
  order_year,
  order_month

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

112 rows affected.

    order_year order_month  net_revenue
0         2015           1    384092.66
1         2015           2    706374.12
2         2015           3    332961.59
3         2015           4    160767.00
4         2015           5    548632.63
..         ...         ...          ...
107       2023          12   2928550.93
108       2024           1   2677498.55
109       2024           2   3542322.55
110       2024           3   1692854.89
111       2024           4    483851.39

[112 rows x 3 columns]

**CURRENT_DATE**

In [8]:
%%sql
SELECT CURRENT_DATE

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

1 rows affected.

  current_date
0   2025-04-19

In [9]:
%%sql
SELECT NOW()

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

1 rows affected.

                               now
0 2025-04-19 13:34:30.067523+00:00

In [10]:
%%sql
SELECT
  s.orderdate,
  p.categoryname,
  SUM(s.quantity*s.netprice*s.exchangerate) AS net_revenue
FROM sales s
LEFT JOIN product p ON s.productkey = p.productkey
WHERE EXTRACT(YEAR FROM orderdate) >= EXTRACT(YEAR FROM CURRENT_DATE) - 5
GROUP BY
  s.orderdate,
  p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

11171 rows affected.

        orderdate                   categoryname  net_revenue
0      2020-01-01                          Audio      5490.14
1      2020-01-01        Cameras and camcorders      18880.06
2      2020-01-01                    Cell phones     22593.00
3      2020-01-01                      Computers     78554.54
4      2020-01-01                 Games and Toys      1476.43
...           ...                            ...          ...
11166  2024-04-20                      Computers     58353.68
11167  2024-04-20                 Games and Toys      1744.30
11168  2024-04-20                Home Appliances      1562.04
11169  2024-04-20  Music, Movies and Audio Books      4949.43
11170  2024-04-20                   TV and Video      9841.91

[11171 rows x 3 columns]

**DATE AND TIME DIFFERENCES**

In [11]:
%%sql
SELECT
CURRENT_DATE,
orderdate
FROM sales s
WHERE
orderdate >= CURRENT_DATE - INTERVAL '5 years'

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

118193 rows affected.

       current_date   orderdate
0        2025-04-19  2020-04-20
1        2025-04-19  2020-04-20
2        2025-04-19  2020-04-20
3        2025-04-19  2020-04-20
4        2025-04-19  2020-04-20
...             ...         ...
118188   2025-04-19  2024-04-20
118189   2025-04-19  2024-04-20
118190   2025-04-19  2024-04-20
118191   2025-04-19  2024-04-20
118192   2025-04-19  2024-04-20

[118193 rows x 2 columns]

In [12]:
%%sql
SELECT
  s.orderdate,
  p.categoryname,
  SUM(s.quantity*s.netprice*s.exchangerate) AS net_revenue
FROM sales s
LEFT JOIN product p ON s.productkey = p.productkey
WHERE orderdate >= CURRENT_DATE - INTERVAL '5 years'
GROUP BY
  s.orderdate,
  p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10424 rows affected.

        orderdate                   categoryname  net_revenue
0      2020-04-20        Cameras and camcorders        959.42
1      2020-04-20                    Cell phones       922.12
2      2020-04-20                      Computers      2768.04
3      2020-04-20                 Games and Toys       139.38
4      2020-04-20  Music, Movies and Audio Books       724.05
...           ...                            ...          ...
10419  2024-04-20                      Computers     58353.68
10420  2024-04-20                 Games and Toys      1744.30
10421  2024-04-20                Home Appliances      1562.04
10422  2024-04-20  Music, Movies and Audio Books      4949.43
10423  2024-04-20                   TV and Video      9841.91

[10424 rows x 3 columns]

In [13]:
%%sql
SELECT
  DATE_PART('year',orderdate) AS order_year,
  ROUND(AVG(EXTRACT(DAYS FROM AGE(deliverydate,orderdate))),2) AS avg_processing_time,
  CAST(SUM(quantity*netprice*exchangerate) AS INTEGER) AS net_revenue
FROM
  sales
WHERE
  orderdate >= CURRENT_DATE - INTERVAL '5 years'
GROUP BY
 order_year
ORDER BY
  order_year
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

5 rows affected.

   order_year avg_processing_time  net_revenue
0     2020.00                0.95      5068026
1     2021.00                1.36     21357977
2     2022.00                1.62     44864557
3     2023.00                1.75     33108566
4     2024.00                1.67      8396527

# WINDOWS FUNCTION

In [14]:
%%sql
SELECT
  customerkey,
  orderkey,
  linenumber,
  (quantity*netprice*exchangerate) AS net_revenue,
  AVG(quantity*netprice*exchangerate) OVER () AS avg_net_revenue_all_orders,
   AVG(quantity*netprice*exchangerate) OVER (PARTITION BY customerkey) AS avg_net_revenue_this_customer
FROM sales
ORDER BY customerkey
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,customerkey,orderkey,linenumber,net_revenue,avg_net_revenue_all_orders,avg_net_revenue_this_customer
0,15,2259001,0,2217.41,1032.69,2217.41
1,180,1305016,0,525.31,1032.69,836.74
2,180,3162018,0,71.36,1032.69,836.74
3,180,3162018,1,1913.55,1032.69,836.74
4,185,1613010,0,1395.52,1032.69,1395.52
5,243,505008,0,287.67,1032.69,287.67
6,387,3242015,0,30.51,1032.69,517.32
7,387,3242015,3,446.44,1032.69,517.32
8,387,3242015,2,180.35,1032.69,517.32
9,387,3242015,1,362.44,1032.69,517.32

In [15]:
%%sql
SELECT
  orderdate,
  orderkey*10 + linenumber AS order_line_number,
  (quantity*netprice*exchangerate) AS net_revenue,
  SUM(quantity*netprice*exchangerate) OVER (PARTITION BY orderdate)AS daily_net_revenue,
  (quantity*netprice*exchangerate)*100 / SUM(quantity*netprice*exchangerate) OVER (PARTITION BY orderdate) AS percent_daily_revenue

FROM sales
ORDER BY
  orderdate,
  percent_daily_revenue DESC
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,orderdate,order_line_number,net_revenue,daily_net_revenue,percent_daily_revenue
0,2015-01-01,10043,2395.10,11640.80,20.58
1,2015-01-01,10061,1552.32,11640.80,13.34
2,2015-01-01,10022,1302.91,11640.80,11.19
3,2015-01-01,10020,1146.75,11640.80,9.85
4,2015-01-01,10050,975.16,11640.80,8.38
5,2015-01-01,10021,950.25,11640.80,8.16
6,2015-01-01,10041,578.52,11640.80,4.97
7,2015-01-01,10081,574.05,11640.80,4.93
8,2015-01-01,10001,423.28,11640.80,3.64
9,2015-01-01,10040,263.11,11640.80,2.26

**Cohort Analysis w/MIN()**

In [16]:
%%sql
SELECT DISTINCT
  customerkey,
  EXTRACT(YEAR FROM MIN(orderdate) OVER (PARTITION BY customerkey)) AS cohort_year
FROM sales

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

49487 rows affected.

       customerkey cohort_year
0          1884827        2022
1           883756        2023
2          1309988        2018
3           848767        2019
4          1955010        2021
...            ...         ...
49482      2045997        2019
49483      2060016        2023
49484      2071081        2017
49485      1984329        2023
49486      2034664        2019

[49487 rows x 2 columns]

In [17]:
%%sql
WITH yearly_cohort AS (
  SELECT DISTINCT
  customerkey,
  EXTRACT(YEAR FROM MIN(orderdate) OVER (PARTITION BY customerkey)) AS cohort_year
  FROM sales
)
SELECT
  y.cohort_year,
  EXTRACT (YEAR FROM orderdate) AS purchase_year,
  SUM(s.quantity*s.netprice*s.exchangerate) AS net_revenue
FROM sales s
LEFT JOIN yearly_cohort y ON s.customerkey = y.customerkey
GROUP BY
  y.cohort_year,
  purchase_year
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

  cohort_year purchase_year  net_revenue
0        2019          2022   4848980.74
1        2020          2020   7265759.44
2        2018          2022   4534295.81
3        2017          2018   1407065.13
4        2016          2022   2164681.10
5        2021          2021  12635597.87
6        2018          2024    936833.89
7        2018          2023   3271753.92
8        2023          2023  14345184.96
9        2020          2024    312983.02

**Aggregration**

In [18]:
%%sql
WITH yearly_cohort AS(
  SELECT DISTINCT
    customerkey,
    EXTRACT(YEAR FROM (MIN(orderdate)OVER (PARTITION BY customerkey))) as cohort_year,
    EXTRACT(YEAR FROM orderdate)AS purchase_year
  FROM sales
)
SELECT DISTINCT
  cohort_year,
  purchase_year,
  COUNT(customerkey) OVER (PARTITION BY purchase_year, cohort_year)
FROM yearly_cohort
ORDER BY
  cohort_year,
  purchase_year

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

55 rows affected.

   cohort_year purchase_year  count
0         2015          2015   2825
1         2015          2016    126
2         2015          2017    149
3         2015          2018    348
4         2015          2019    388
5         2015          2020    171
6         2015          2021    295
7         2015          2022    600
8         2015          2023    499
9         2015          2024    146
10        2016          2016   3397
11        2016          2017    174
12        2016          2018    374
13        2016          2019    457
14        2016          2020    205
15        2016          2021    336
16        2016          2022    746
17        2016          2023    573
18        2016          2024    183
19        2017          2017   4068
20        2017          2018    473
21        2017          2019    570
22        2017          2020    251
23        2017          2021    450
24        2017          2022    943
25        2017          2023    738
26        2017          2024    246
27        2018          2018   7446
28        2018          2019   1081
29        2018          2020    475
30        2018          2021    779
31        2018          2022   1644
32        2018          2023   1407
33        2018          2024    426
34        2019          2019   7755
35        2019          2020    523
36        2019          2021    873
37        2019          2022   1700
38        2019          2023   1439
39        2019          2024    370
40        2020          2020   3031
41        2020          2021    358
42        2020          2022    694
43        2020          2023    547
44        2020          2024    163
45        2021          2021   4663
46        2021          2022   1051
47        2021          2023    889
48        2021          2024    268
49        2022          2022   9010
50        2022          2023   1764
51        2022          2024    561
52        2023          2023   5890
53        2023          2024    332
54        2024          2024   1402

# Window Funcitons & GROUP BYs
## Best Practices: Don't Combine

In [23]:
%%sql
WITH yearly_cohort AS(
SELECT
  customerkey,
  EXTRACT(YEAR FROM MIN (orderdate)) AS cohort_year,
  SUM(quantity*netprice*exchangerate)AS customer_ltv
FROM
  sales
GROUP BY
  customerkey
)
SELECT *,
  AVG(customer_ltv) OVER (PARTITION BY cohort_year)AS avg_cohort_ltv
FROM
 yearly_cohort
ORDER BY
  cohort_year,
  customerkey

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

49487 rows affected.

       customerkey cohort_year  customer_ltv  avg_cohort_ltv
0             4376        2015        182.00         5271.59
1             4403        2015       9530.35         5271.59
2             4925        2015       6078.08         5271.59
3             5729        2015        192.16         5271.59
4             6048        2015       1903.89         5271.59
...            ...         ...           ...             ...
49482      2093965        2024        475.22         2037.55
49483      2095129        2024        156.00         2037.55
49484      2095691        2024        326.00         2037.55
49485      2096470        2024        535.78         2037.55
49486      2097541        2024       1143.15         2037.55

[49487 rows x 4 columns]

Filtering Before Windows Function

In [27]:
%%sql
SELECT
  customerkey,
  EXTRACT(YEAR FROM MIN (orderdate)OVER (PARTITION BY customerkey)) AS cohort_year
FROM sales
WHERE orderdate>= '2020-01-01'

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

124451 rows affected.

        customerkey cohort_year
0                15        2021
1               180        2023
2               180        2023
3               387        2021
4               387        2021
...             ...         ...
124446      2099697        2022
124447      2099697        2022
124448      2099743        2022
124449      2099743        2022
124450      2099743        2022

[124451 rows x 2 columns]

In [28]:
%%sql
WITH cohort AS (
  SELECT
    customerkey,
    EXTRACT(YEAR FROM MIN (orderdate)OVER (PARTITION BY customerkey)) AS cohort_year
  FROM sales
)
SELECT *
FROM cohort
WHERE cohort_year >= '2020'

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

81370 rows affected.

       customerkey cohort_year
0               15        2021
1              406        2021
2              406        2021
3              545        2023
4              545        2023
...            ...         ...
81365      2099697        2022
81366      2099697        2022
81367      2099743        2022
81368      2099743        2022
81369      2099743        2022

[81370 rows x 2 columns]

# Ranking

In [34]:
%%sql

  SELECT
    customerkey,
    orderdate,
    (quantity*netprice*exchangerate) AS net_revenue,
    COUNT(*) OVER (
      PARTITION BY customerkey
      ORDER BY orderdate
    ) AS runnig_order_count,
    AVG(quantity*netprice*exchangerate) OVER (
      PARTITION BY customerkey
      ORDER BY orderdate
    ) AS running_avg_revenue
  FROM sales

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

199873 rows affected.

,customerkey,orderdate,net_revenue,runnig_order_count,running_avg_revenue
0,15,2021-03-08,2217.41,1,2217.41
1,180,2018-07-28,525.31,1,525.31
2,180,2023-08-28,71.36,3,836.74
3,180,2023-08-28,1913.55,3,836.74
4,185,2019-06-01,1395.52,1,1395.52
...,...,...,...,...,...
199868,2099711,2016-08-13,2067.75,1,2067.75
199869,2099711,2017-08-14,3940.92,2,3004.34
199870,2099743,2022-03-17,375.57,2,234.81
199871,2099743,2022-03-17,94.05,2,234.81
199872,2099743,2023-02-11,598.46,3,356.03

# ROW_NUMBER() & ORDER BY
Assigning Row Numbers

In [49]:
%%sql
SELECT
  ROW_NUMBER() OVER(
    PARTITION BY
    orderdate
    ORDER BY
      orderdate,
      orderkey,
      linenumber
  ) AS row_number,
  *

FROM  sales
WHERE orderdate> '2015-01-01'

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

199848 rows affected.

,row_number,orderkey,linenumber,orderdate,deliverydate,customerkey,storekey,productkey,quantity,unitprice,netprice,unitcost,currencycode,exchangerate
0,1,2000,0,2015-01-02,2015-01-02,1639738,530,1613,5,65.99,59.39,33.65,USD,1.00
1,2,2001,0,2015-01-02,2015-01-15,2085372,999999,2182,2,1237.50,1237.50,410.01,USD,1.00
2,3,2002,0,2015-01-02,2015-01-02,1732602,510,1822,2,22.40,22.40,11.42,USD,1.00
3,4,2002,1,2015-01-02,2015-01-02,1732602,510,49,5,149.96,149.96,68.96,USD,1.00
4,5,2003,0,2015-01-02,2015-01-02,728917,300,1674,2,4.89,4.89,2.49,EUR,0.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199843,93,3398034,1,2024-04-20,2024-04-21,664396,999999,1651,7,159.99,139.19,73.57,EUR,0.94
199844,94,3398034,2,2024-04-20,2024-04-21,664396,999999,1646,1,159.99,159.99,73.57,EUR,0.94
199845,95,3398035,0,2024-04-20,2024-04-22,267690,999999,1575,2,60.99,53.67,28.05,CAD,1.38
199846,96,3398035,1,2024-04-20,2024-04-22,267690,999999,415,5,326.00,293.40,166.20,CAD,1.38
199847,97,3398035,2,2024-04-20,2024-04-22,267690,999999,1693,6,6.88,6.88,3.16,CAD,1.38

In [50]:
%%sql
WITH row_numbering AS (
  SELECT
  ROW_NUMBER() OVER(
    PARTITION BY
    orderdate
    ORDER BY
      orderdate,
      orderkey,
      linenumber
  ) AS row_number,
  *

FROM  sales
)
SELECT *
FROM row_numbering
WHERE orderdate > '2015-01-01'
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,row_number,orderkey,linenumber,orderdate,deliverydate,customerkey,storekey,productkey,quantity,unitprice,netprice,unitcost,currencycode,exchangerate
0,1,2000,0,2015-01-02,2015-01-02,1639738,530,1613,5,65.99,59.39,33.65,USD,1.00
1,2,2001,0,2015-01-02,2015-01-15,2085372,999999,2182,2,1237.50,1237.50,410.01,USD,1.00
2,3,2002,0,2015-01-02,2015-01-02,1732602,510,1822,2,22.40,22.40,11.42,USD,1.00
3,4,2002,1,2015-01-02,2015-01-02,1732602,510,49,5,149.96,149.96,68.96,USD,1.00
4,5,2003,0,2015-01-02,2015-01-02,728917,300,1674,2,4.89,4.89,2.49,EUR,0.83
5,6,2003,1,2015-01-02,2015-01-02,728917,300,369,1,1747.50,1555.28,803.60,EUR,0.83
6,7,2004,0,2015-01-02,2015-01-02,1724183,570,1654,2,155.99,155.99,51.68,USD,1.00
7,8,2005,0,2015-01-02,2015-01-02,2054699,480,460,1,749.75,712.26,382.25,USD,1.00
8,1,3000,0,2015-01-03,2015-01-03,1793739,500,108,3,99.74,97.75,45.87,USD,1.00
9,2,3000,1,2015-01-03,2015-01-03,1793739,500,1684,3,11.82,11.00,3.92,USD,1.00

In [56]:
%%sql
SELECT
  customerkey,
  COUNT(*) AS total_orders,
  ROW_NUMBER() OVER (ORDER BY COUNT(*) DESC) AS total_orders_row_num,
  RANK() OVER (ORDER BY COUNT(*) DESC) AS total_orders_rank,
  DENSE_RANK() OVER (ORDER BY COUNT(*) DESC) AS total_orders_dense_rank
FROM sales
GROUP BY customerkey
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,customerkey,total_orders,total_orders_row_num,total_orders_rank,total_orders_dense_rank
0,1834524,31,1,1,1
1,1375597,30,2,2,2
2,249557,27,3,3,3
3,459519,26,4,4,4
4,1495941,26,5,4,4
5,1801215,26,6,4,4
6,1219056,25,7,7,5
7,759419,24,8,8,6
8,1427444,24,9,8,6
9,1876222,24,10,8,6

# Lag & Lead

In [67]:
%%sql
WITH monthly_revenue AS (
SELECT
  TO_CHAR(orderdate, 'YYYY-MM') AS month,
  SUM(quantity*netprice*exchangerate) AS net_revenue
FROM sales
WHERE EXTRACT(YEAR FROM orderdate) = 2023
GROUP BY month
ORDER BY month
)
SELECT *,
  FIRST_VALUE(net_revenue) OVER (ORDER BY month) AS first_month_revenue,
  LAST_VALUE(net_revenue) OVER (ORDER BY month ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED  FOLLOWING ) AS last_month_revenue,
  NTH_VALUE(net_revenue,3) OVER (ORDER BY month ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED  FOLLOWING) AS third_month_revenue

FROM monthly_revenue

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

12 rows affected.

,month,net_revenue,first_month_revenue,last_month_revenue,third_month_revenue
0,2023-01,3664431.34,3664431.34,2928550.93,2244316.52
1,2023-02,4465204.57,3664431.34,2928550.93,2244316.52
2,2023-03,2244316.52,3664431.34,2928550.93,2244316.52
3,2023-04,1162796.16,3664431.34,2928550.93,2244316.52
4,2023-05,2943005.99,3664431.34,2928550.93,2244316.52
5,2023-06,2864500.03,3664431.34,2928550.93,2244316.52
6,2023-07,2337639.34,3664431.34,2928550.93,2244316.52
7,2023-08,2623919.79,3664431.34,2928550.93,2244316.52
8,2023-09,2622774.85,3664431.34,2928550.93,2244316.52
9,2023-10,2551322.61,3664431.34,2928550.93,2244316.52
10,2023-11,2700103.38,3664431.34,2928550.93,2244316.52
11,2023-12,2928550.93,3664431.34,2928550.93,2244316.52

In [73]:
%%sql
WITH monthly_revenue AS (
SELECT
  TO_CHAR(orderdate, 'YYYY-MM') AS month,
  SUM(quantity*netprice*exchangerate) AS net_revenue
FROM sales
WHERE EXTRACT(YEAR FROM orderdate) = 2023
GROUP BY month
ORDER BY month
)
SELECT *,
  LAG(net_revenue) OVER (ORDER BY month) AS previous_month_revenue,
  LEAD(net_revenue) OVER (ORDER BY month) AS next_month_revenue,
  100*(net_revenue - LAG(net_revenue) OVER (ORDER BY month))/ LAG(net_revenue) OVER (ORDER BY month) AS monthly_rev_growth /* calculating rate of change */

FROM monthly_revenue

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

12 rows affected.

,month,net_revenue,previous_month_revenue,next_month_revenue,monthly_rev_growth
0,2023-01,3664431.34,NaN,4465204.57,NaN
1,2023-02,4465204.57,3664431.34,2244316.52,21.85
2,2023-03,2244316.52,4465204.57,1162796.16,-49.74
3,2023-04,1162796.16,2244316.52,2943005.99,-48.19
4,2023-05,2943005.99,1162796.16,2864500.03,153.10
5,2023-06,2864500.03,2943005.99,2337639.34,-2.67
6,2023-07,2337639.34,2864500.03,2623919.79,-18.39
7,2023-08,2623919.79,2337639.34,2622774.85,12.25
8,2023-09,2622774.85,2623919.79,2551322.61,-0.04
9,2023-10,2551322.61,2622774.85,2700103.38,-2.72
10,2023-11,2700103.38,2551322.61,2928550.93,5.83
11,2023-12,2928550.93,2700103.38,NaN,8.46